<div class="lg:flex lg:items-center lg:justify-between">
    <div class="min-w-0 flex-1">
      <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Juegos Jugados</h2>
      <div class="mt-1 flex flex-col sm:mt-0 sm:flex-row sm:flex-wrap sm:space-x-6">
        <div class="mt-2 flex items-center text-sm text-gray-500">
            <i class="fas fa-flag-checkered"></i>
        </div>
        <div class="mt-2 flex items-center text-sm text-gray-500">
            <i class="fas fa-times"></i>
        </div>
        <div class="mt-2 flex items-center text-sm text-gray-500">
            <a [routerLink]="['/create-game']" routerLinkActive="router-link-active"  class="btn-primary mt-2" (click)="hideMenu()">
                <span class="mr-2">Agregar Juego</span>
                <i class="fa-regular fa-add"></i>
              </a>
        </div>
      </div>
    </div>
    <div class="overflow-x-auto">
      <table class="table-auto min-w-full divide-y divide-gray-200">
        <thead>
          <tr>
            <th class="table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Columna 1</th>
            <th class="table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Columna 2</th>
            <th class="table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Columna 3</th>
            <th class="hidden md:table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Columna 4</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" >Dato 1</td>
            <td class="table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" >Dato 2</td>
            <td class="table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" >Dato 3</td>
            <td class="hidden md:table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"> Dato 4</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
